<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hostIntegration.ti.wip" type="Microsoft.HostIntegration.ConfigurationSectionHandlers.Ti.Wip.WipConfigurationSectionHandler, Microsoft.HostIntegration.ConfigurationSectionHandlers, Version=9.0.1000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<section name="hostIntegration.tracing" type="Microsoft.HostIntegration.ConfigurationSectionHandlers.Tracing.TracingConfigurationSectionHandler, 
						 Microsoft.HostIntegration.ConfigurationSectionHandlers, Version=9.0.1000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<appSettings>
		<add key="MinimumLoggingLevel" value="Info"/>
		<add key="Environment" value="DEV"/>
		<add key="ProgramName" value="WADataServices"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<connectionStrings>
		<add name="AdaptorConnectionString" connectionString="Data Source=NC006DEVD051\ISQLD01;Initial Catalog=AFS Adaptor;User ID=U4CLOK2;Password=StCloAdapt50" providerName="System.Data.SqlClient"/>
		<add name="AFSAdaptorContext" connectionString="data source=NC006DEVD051\ISQLD01;initial catalog='AFS Adaptor';persist security info=True;user id=u4clowp2;password=pass0624;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<hostIntegration.ti.wip xmlns="http://schemas.microsoft.com/his/Config/TiWip/2013">
		<readOrder appConfig="first" cache="unused" registry="unused"/>
		<remoteEnvironments>
			<remoteEnvironment name="TRM User Data RE" isDefault="true" codePage="37" timeout="100">
				<trmUserData ipAddress="10.72.41.32" ports="13042" requestHeaderFormat="Microsoft" essoAffiliateApplication="" securityFromClientContext="true"/>
			</remoteEnvironment>

		</remoteEnvironments>
		<!--<conversionBehavior acceptBadCOMP3Sign="false" acceptNullPacked="false" acceptNullZoned="false" alwaysCheckForNull="false" stringsAreNullTerminatedAndSpacePadded="false" trimTrailingNulls="false"/>
		<tiWipBehavior callAccountingProcessor="" nineCharacterImsTransactionId="false" sourceTransactionProgramNameOverride="false"/>-->
	</hostIntegration.ti.wip>
	<hostIntegration.tracing xmlns="http://schemas.microsoft.com/his/Tracing/2013">
		<traceOptions traceDefinitionFile="C:\\logfiles\\BAHATrace.hitd" writeTraceFile="true" fileNamePreamble=" COMPASSPOCTrace" traceFileFolder="C:\\logfiles\\"/>
	</hostIntegration.tracing>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
